/* line 7, ../sass/h5.scss */
html,
body,
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* line 14, ../sass/h5.scss */
html ul,
body ul,
.container ul {
  width: 6.4rem;
  height: 10.66667rem;
  background: #eee;
  margin: 6.4rem auto 0;
  padding: 0;
  position: relative;
  left: 0;
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: rotateX(10deg);
  -ms-transform: rotateX(10deg);
  -webkit-transform: rotateX(10deg);
  transform: rotateX(10deg);
  -moz-transition: left 1s 0;
  -o-transition: left 1s 0;
  -webkit-transition: left 1s 0;
  transition: left 1s 0;
}
/* line 26, ../sass/h5.scss */
html ul li,
body ul li,
.container ul li {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10.66667rem;
  list-style: none;
  border: 1px solid #000;
  border-collapse: collapse;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  box-sizing: border-box;
}
/* line 39, ../sass/h5.scss */
html ul li.page1,
body ul li.page1,
.container ul li.page1 {
  background: url("../imgs/IMG_3499.jpg") no-repeat;
  background-size: 100% 100%;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: 0;
  font-weight: bold;
}
/* line 47, ../sass/h5.scss */
html ul li.page2,
body ul li.page2,
.container ul li.page2 {
  left: -100%;
  z-index: -1;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  color: red;
  font-size: 0.85333rem;
  font-weight: bold;
}
/* line 57, ../sass/h5.scss */
html ul li.page3,
body ul li.page3,
.container ul li.page3 {
  background: url("../imgs/u=2618316350,1090529273&fm=27&gp=0.jpg") no-repeat;
  background-size: 100% 100%;
  z-index: -2;
}
/* line 63, ../sass/h5.scss */
html ul.hover,
body ul.hover,
.container ul.hover {
  left: 1.49333rem;
}
/* line 65, ../sass/h5.scss */
html ul.hover .page1,
body ul.hover .page1,
.container ul.hover .page1 {
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
/* line 68, ../sass/h5.scss */
html ul.hover .page2,
body ul.hover .page2,
.container ul.hover .page2 {
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
